[submodule "packages/eiixy/api-charging"]
	path = packages/eiixy/api-charging
	url = https://github.com/eiixy/api-charging.git
[submodule "packages/eiixy/laravel-rbac"]
	path = packages/eiixy/laravel-rbac
	url = https://github.com/eiixy/laravel-rbac.git
[submodule "packages/sczts/sms"]
	path = packages/sczts/sms
	url = https://github.com/sczts/sms.git
[submodule "packages/sczts/upload"]
	path = packages/sczts/upload
	url = https://github.com/sczts/upload.git
